# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment.
.venv/
venv/
env/


# Backup files.
*.*~

# Ignore the default SQLite database.
/db/*.sqlite3
# Ignore the default SQLite database.
/db/*.sqlite

